:root {
  --primary-hue: 212deg;
  --primary-saturation: 100%;
}

.dark {
  --primary-hue: 48deg;
  --primary-saturation: 100%;
}

/* Material Design Colors, Color Palette from https://materialui.co/colors */
/* Amber colorway */
.hx-border-amber-200 {
  --tw-border-opacity: 1;
  border-color: rgb(255 224 130 / var(--tw-border-opacity));
}
.hx-bg-amber-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 236 179 / var(--tw-bg-opacity));
}
.hx-text-amber-900 {
  --tw-text-opacity: 1;
  color: rgb(255 111 0 / var(--tw-text-opacity));
}
.dark\:hx-border-amber-200\/30:is(html[class~="dark"] *) {
  border-color: rgb(255 224 130 / 0.3);
}
.dark\:hx-bg-amber-600\/30:is(html[class~="dark"] *) {
  background-color: rgb(255 179 0 / 0.3);
}
.dark\:hx-text-amber-200:is(html[class~="dark"] *) {
  --tw-text-opacity: 1;
  color: rgb(255 224 130 / var(--tw-text-opacity));
}
/* Cyan colorway */
.hx-border-cyan-200 {
  --tw-border-opacity: 1;
  border-color: rgb(129 212 250 / var(--tw-border-opacity));
}
.hx-bg-cyan-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(178 235 242 / var(--tw-bg-opacity));
}
.hx-text-cyan-900 {
  --tw-text-opacity: 1;
  color: rgb(0 96 100 / var(--tw-text-opacity));
}
.dark\:hx-border-cyan-200\/30:is(html[class~="dark"] *) {
  border-color: rgb(129 212 250 / 0.3);
}
.dark\:hx-bg-cyan-900\/30:is(html[class~="dark"] *) {
  background-color: rgb(0 96 100 / 0.3);
}
.dark\:hx-text-cyan-200:is(html[class~="dark"] *) {
  --tw-text-opacity: 1;
  color: rgb(129 212 250 / var(--tw-text-opacity));
}
/* Green colorway */
.hx-border-green-200 {
  --tw-border-opacity: 1;
  border-color: rgb(165 214 167 / var(--tw-border-opacity));
}
.hx-bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(200 230 201 / var(--tw-bg-opacity));
}
.hx-text-green-900 {
  --tw-text-opacity: 1;
  color: rgb(27 94 32 / var(--tw-text-opacity));
}
.dark\:hx-border-green-200\/30:is(html[class~="dark"] *) {
  border-color: rgb(165 214 167 / 0.3);
}
.dark\:hx-bg-green-900\/30:is(html[class~="dark"] *) {
  background-color: rgb(27 94 32 / 0.3);
}
.dark\:hx-text-green-200:is(html[class~="dark"] *) {
  --tw-text-opacity: 1;
  color: rgb(165 214 167 / var(--tw-text-opacity));
}

/* Custom Code Highlighting */
.dark .highlight {
  /* Background */
  .bg {
    color: #e2e4e5;
    background-color: #282a36;
  }
  /* PreWrapper */
  .chroma {
    color: #e2e4e5;
    background-color: #282a36;
  }
  /* Other */
  .chroma .x {
  }
  /* Error */
  .chroma .err {
    color: #ff5c57;
  }
  /* CodeLine */
  .chroma .cl {
  }
  /* LineLink */
  .chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  /* LineTableTD */
  .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineTable */
  .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineHighlight */
  .chroma .hl {
    background-color: #3d3f4a;
  }
  /* LineNumbersTable */
  .chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }
  /* LineNumbers */
  .chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }
  /* Line */
  .chroma .line {
    display: flex;
  }
  /* Keyword */
  .chroma .k {
    color: #ff6ac1;
  }
  /* KeywordConstant */
  .chroma .kc {
    color: #ff6ac1;
  }
  /* KeywordDeclaration */
  .chroma .kd {
    color: #ff5c57;
  }
  /* KeywordNamespace */
  .chroma .kn {
    color: #ff6ac1;
  }
  /* KeywordPseudo */
  .chroma .kp {
    color: #ff6ac1;
  }
  /* KeywordReserved */
  .chroma .kr {
    color: #ff6ac1;
  }
  /* KeywordType */
  .chroma .kt {
    color: #9aedfe;
  }
  /* Name */
  .chroma .n {
  }
  /* NameAttribute */
  .chroma .na {
    color: #57c7ff;
  }
  /* NameBuiltin */
  .chroma .nb {
    color: #ff5c57;
  }
  /* NameBuiltinPseudo */
  .chroma .bp {
  }
  /* NameClass */
  .chroma .nc {
    color: #f3f99d;
  }
  /* NameConstant */
  .chroma .no {
    color: #ff9f43;
  }
  /* NameDecorator */
  .chroma .nd {
    color: #ff9f43;
  }
  /* NameEntity */
  .chroma .ni {
  }
  /* NameException */
  .chroma .ne {
  }
  /* NameFunction */
  .chroma .nf {
    color: #57c7ff;
  }
  /* NameFunctionMagic */
  .chroma .fm {
  }
  /* NameLabel */
  .chroma .nl {
    color: #ff5c57;
  }
  /* NameNamespace */
  .chroma .nn {
  }
  /* NameOther */
  .chroma .nx {
  }
  /* NameProperty */
  .chroma .py {
  }
  /* NameTag */
  .chroma .nt {
    color: #ff6ac1;
  }
  /* NameVariable */
  .chroma .nv {
    color: #ff5c57;
  }
  /* NameVariableClass */
  .chroma .vc {
    color: #ff5c57;
  }
  /* NameVariableGlobal */
  .chroma .vg {
    color: #ff5c57;
  }
  /* NameVariableInstance */
  .chroma .vi {
    color: #ff5c57;
  }
  /* NameVariableMagic */
  .chroma .vm {
  }
  /* Literal */
  .chroma .l {
  }
  /* LiteralDate */
  .chroma .ld {
  }
  /* LiteralString */
  .chroma .s {
    color: #5af78e;
  }
  /* LiteralStringAffix */
  .chroma .sa {
    color: #5af78e;
  }
  /* LiteralStringBacktick */
  .chroma .sb {
    color: #5af78e;
  }
  /* LiteralStringChar */
  .chroma .sc {
    color: #5af78e;
  }
  /* LiteralStringDelimiter */
  .chroma .dl {
    color: #5af78e;
  }
  /* LiteralStringDoc */
  .chroma .sd {
    color: #5af78e;
  }
  /* LiteralStringDouble */
  .chroma .s2 {
    color: #5af78e;
  }
  /* LiteralStringEscape */
  .chroma .se {
    color: #5af78e;
  }
  /* LiteralStringHeredoc */
  .chroma .sh {
    color: #5af78e;
  }
  /* LiteralStringInterpol */
  .chroma .si {
    color: #5af78e;
  }
  /* LiteralStringOther */
  .chroma .sx {
    color: #5af78e;
  }
  /* LiteralStringRegex */
  .chroma .sr {
    color: #5af78e;
  }
  /* LiteralStringSingle */
  .chroma .s1 {
    color: #5af78e;
  }
  /* LiteralStringSymbol */
  .chroma .ss {
    color: #5af78e;
  }
  /* LiteralNumber */
  .chroma .m {
    color: #ff9f43;
  }
  /* LiteralNumberBin */
  .chroma .mb {
    color: #ff9f43;
  }
  /* LiteralNumberFloat */
  .chroma .mf {
    color: #ff9f43;
  }
  /* LiteralNumberHex */
  .chroma .mh {
    color: #ff9f43;
  }
  /* LiteralNumberInteger */
  .chroma .mi {
    color: #ff9f43;
  }
  /* LiteralNumberIntegerLong */
  .chroma .il {
    color: #ff9f43;
  }
  /* LiteralNumberOct */
  .chroma .mo {
    color: #ff9f43;
  }
  /* Operator */
  .chroma .o {
    color: #ff6ac1;
  }
  /* OperatorWord */
  .chroma .ow {
    color: #ff6ac1;
  }
  /* Punctuation */
  .chroma .p {
  }
  /* Comment */
  .chroma .c {
    color: #78787e;
  }
  /* CommentHashbang */
  .chroma .ch {
    color: #78787e;
  }
  /* CommentMultiline */
  .chroma .cm {
    color: #78787e;
  }
  /* CommentSingle */
  .chroma .c1 {
    color: #78787e;
  }
  /* CommentSpecial */
  .chroma .cs {
    color: #78787e;
  }
  /* CommentPreproc */
  .chroma .cp {
    color: #78787e;
  }
  /* CommentPreprocFile */
  .chroma .cpf {
    color: #78787e;
  }
  /* Generic */
  .chroma .g {
  }
  /* GenericDeleted */
  .chroma .gd {
    color: #ff5c57;
  }
  /* GenericEmph */
  .chroma .ge {
    text-decoration: underline;
  }
  /* GenericError */
  .chroma .gr {
    color: #ff5c57;
  }
  /* GenericHeading */
  .chroma .gh {
    font-weight: bold;
  }
  /* GenericInserted */
  .chroma .gi {
    font-weight: bold;
  }
  /* GenericOutput */
  .chroma .go {
    color: #43454f;
  }
  /* GenericPrompt */
  .chroma .gp {
  }
  /* GenericStrong */
  .chroma .gs {
    font-style: italic;
  }
  /* GenericSubheading */
  .chroma .gu {
    font-weight: bold;
  }
  /* GenericTraceback */
  .chroma .gt {
  }
  /* GenericUnderline */
  .chroma .gl {
    text-decoration: underline;
  }
  /* TextWhitespace */
  .chroma .w {
  }
}

.light .highlight {
  /* Background */
  .bg {
    background-color: #fff;
  }
  /* PreWrapper */
  .chroma {
    background-color: #fff;
  }
  /* Other */
  .chroma .x {
  }
  /* Error */
  .chroma .err {
  }
  /* CodeLine */
  .chroma .cl {
  }
  /* LineLink */
  .chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  /* LineTableTD */
  .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineTable */
  .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineHighlight */
  .chroma .hl {
    background-color: #e5e5e5;
  }
  /* LineNumbersTable */
  .chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }
  /* LineNumbers */
  .chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }
  /* Line */
  .chroma .line {
    display: flex;
  }
  /* Keyword */
  .chroma .k {
    color: #008000;
    font-weight: bold;
  }
  /* KeywordConstant */
  .chroma .kc {
    color: #008000;
    font-weight: bold;
  }
  /* KeywordDeclaration */
  .chroma .kd {
    color: #008000;
    font-weight: bold;
  }
  /* KeywordNamespace */
  .chroma .kn {
    color: #008000;
    font-weight: bold;
  }
  /* KeywordPseudo */
  .chroma .kp {
    color: #008000;
  }
  /* KeywordReserved */
  .chroma .kr {
    color: #008000;
    font-weight: bold;
  }
  /* KeywordType */
  .chroma .kt {
    color: #b00040;
  }
  /* Name */
  .chroma .n {
  }
  /* NameAttribute */
  .chroma .na {
    color: #7d9029;
  }
  /* NameBuiltin */
  .chroma .nb {
    color: #008000;
  }
  /* NameBuiltinPseudo */
  .chroma .bp {
  }
  /* NameClass */
  .chroma .nc {
    color: #00f;
    font-weight: bold;
  }
  /* NameConstant */
  .chroma .no {
    color: #800;
  }
  /* NameDecorator */
  .chroma .nd {
    color: #a2f;
  }
  /* NameEntity */
  .chroma .ni {
    color: #999;
    font-weight: bold;
  }
  /* NameException */
  .chroma .ne {
    color: #d2413a;
    font-weight: bold;
  }
  /* NameFunction */
  .chroma .nf {
    color: #00f;
  }
  /* NameFunctionMagic */
  .chroma .fm {
  }
  /* NameLabel */
  .chroma .nl {
    color: #a0a000;
  }
  /* NameNamespace */
  .chroma .nn {
    color: #00f;
    font-weight: bold;
  }
  /* NameOther */
  .chroma .nx {
  }
  /* NameProperty */
  .chroma .py {
  }
  /* NameTag */
  .chroma .nt {
    color: #008000;
    font-weight: bold;
  }
  /* NameVariable */
  .chroma .nv {
    color: #19177c;
  }
  /* NameVariableClass */
  .chroma .vc {
  }
  /* NameVariableGlobal */
  .chroma .vg {
  }
  /* NameVariableInstance */
  .chroma .vi {
  }
  /* NameVariableMagic */
  .chroma .vm {
  }
  /* Literal */
  .chroma .l {
  }
  /* LiteralDate */
  .chroma .ld {
  }
  /* LiteralString */
  .chroma .s {
    color: #ba2121;
  }
  /* LiteralStringAffix */
  .chroma .sa {
    color: #ba2121;
  }
  /* LiteralStringBacktick */
  .chroma .sb {
    color: #ba2121;
  }
  /* LiteralStringChar */
  .chroma .sc {
    color: #ba2121;
  }
  /* LiteralStringDelimiter */
  .chroma .dl {
    color: #ba2121;
  }
  /* LiteralStringDoc */
  .chroma .sd {
    color: #ba2121;
    font-style: italic;
  }
  /* LiteralStringDouble */
  .chroma .s2 {
    color: #ba2121;
  }
  /* LiteralStringEscape */
  .chroma .se {
    color: #b62;
    font-weight: bold;
  }
  /* LiteralStringHeredoc */
  .chroma .sh {
    color: #ba2121;
  }
  /* LiteralStringInterpol */
  .chroma .si {
    color: #b68;
    font-weight: bold;
  }
  /* LiteralStringOther */
  .chroma .sx {
    color: #008000;
  }
  /* LiteralStringRegex */
  .chroma .sr {
    color: #b68;
  }
  /* LiteralStringSingle */
  .chroma .s1 {
    color: #ba2121;
  }
  /* LiteralStringSymbol */
  .chroma .ss {
    color: #19177c;
  }
  /* LiteralNumber */
  .chroma .m {
    color: #666;
  }
  /* LiteralNumberBin */
  .chroma .mb {
    color: #666;
  }
  /* LiteralNumberFloat */
  .chroma .mf {
    color: #666;
  }
  /* LiteralNumberHex */
  .chroma .mh {
    color: #666;
  }
  /* LiteralNumberInteger */
  .chroma .mi {
    color: #666;
  }
  /* LiteralNumberIntegerLong */
  .chroma .il {
    color: #666;
  }
  /* LiteralNumberOct */
  .chroma .mo {
    color: #666;
  }
  /* Operator */
  .chroma .o {
    color: #666;
  }
  /* OperatorWord */
  .chroma .ow {
    color: #a2f;
    font-weight: bold;
  }
  /* Punctuation */
  .chroma .p {
  }
  /* Comment */
  .chroma .c {
    color: #408080;
    font-style: italic;
  }
  /* CommentHashbang */
  .chroma .ch {
    color: #408080;
    font-style: italic;
  }
  /* CommentMultiline */
  .chroma .cm {
    color: #408080;
    font-style: italic;
  }
  /* CommentSingle */
  .chroma .c1 {
    color: #408080;
    font-style: italic;
  }
  /* CommentSpecial */
  .chroma .cs {
    color: #408080;
    font-style: italic;
  }
  /* CommentPreproc */
  .chroma .cp {
    color: #bc7a00;
  }
  /* CommentPreprocFile */
  .chroma .cpf {
    color: #bc7a00;
  }
  /* Generic */
  .chroma .g {
  }
  /* GenericDeleted */
  .chroma .gd {
    color: #a00000;
  }
  /* GenericEmph */
  .chroma .ge {
    font-style: italic;
  }
  /* GenericError */
  .chroma .gr {
    color: #f00;
  }
  /* GenericHeading */
  .chroma .gh {
    color: #000080;
    font-weight: bold;
  }
  /* GenericInserted */
  .chroma .gi {
    color: #00a000;
  }
  /* GenericOutput */
  .chroma .go {
    color: #888;
  }
  /* GenericPrompt */
  .chroma .gp {
    color: #000080;
    font-weight: bold;
  }
  /* GenericStrong */
  .chroma .gs {
    font-weight: bold;
  }
  /* GenericSubheading */
  .chroma .gu {
    color: #800080;
    font-weight: bold;
  }
  /* GenericTraceback */
  .chroma .gt {
    color: #04d;
  }
  /* GenericUnderline */
  .chroma .gl {
    text-decoration: underline;
  }
  /* TextWhitespace */
  .chroma .w {
    color: #bbb;
  }
}
